<div class="new-trip-back">
  <div class="container new-form">
    <h1>Create a new trip</h1>
    <%= simple_form_for([@trip]) do |f| %>

      <%= f.input :name,
                  label: 'Name your Trip',
                  error: 'Trip name is mandatory, please specify one',
                  placeholder: 'USA tour 2023, Sanchez Family holidays, ...' %>

      <%= f.input :location,
                  label: 'Where do you plan to go?',
                  placeholder: 'California, Switzerland, ...' %>

      <%= f.label :first_day_of_your_trip %>:
      <%= f.text_field :start_date,
                        placeholder: "Start date",
                        data: { behavior: 'flatpickr'} %>
      <br>

      <%= f.label :last_day_of_your_trip %>:
      <%= f.text_field :end_date,
                        label: 'Where do you plan to go?',
                        placeholder: "End date",
                        data: { behavior: 'flatpickr'} %>
      <br>

      <%= f.submit "Let's Travel !", class: "btn btn-primary flex-grow-1" %>
    <% end %>
  </div>
</div>
<!--..-->
