<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-2">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag("TeamTrip_logo.png", height:"47") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto align-items-center">
      <% if @trip.nil? || @trip.name.nil? %>
        <div>
          <button class="d-flex justify-content-center align-items-center active btn-sm btn-trip nav-link-inactive create-trip"> <%= link_to "Create a new trip", new_trip_path, class: "nav-link" %></button>
        </div>
        <div>
          <button class="d-flex justify-content-center align-items-center active btn-sm btn-trip nav-link-inactive create-trip"> <%= link_to "My Trip", trip_path(Trip.first), class: "nav-link" %></button>
        </div>
      <% else %>
        <li class="nav-item d-flex justify-content-center align-items-center size-title ">
          <%= image_tag("travel.png", width:"20rem", height:"20rem") %>
          <div class="trip-title">
            <%= @trip.name %>
            <%= @trip.start_date.strftime("%Y") %>
              <% unless @trip_cost.nil? || @trip_cost == 0 %>
                <p><%= @trip_cost.to_i %> € /person</p>
              <% end %>
          </div>
        </li>

          <div class="d-flex centered-links">
            <div class="d-flex align-items-center">
              <div>
                <li class="nav-item">
                  <% if current_page?(trip_days_path(@trip)) %>
                    <button class="d-flex justify-content-center align-items-center active btn-sm btn-trip mr-3 nav-link-active"> <%= link_to "Plan", trip_days_path(@trip), class: "nav-link" %></button>
                  <% else %>
                    <button class="d-flex justify-content-center align-items-center active btn-sm btn-trip mr-3 nav-link-inactive"> <%= link_to "Plan", trip_days_path(@trip), class: "nav-link" %></button>
                  <% end %>
                </li>
                <li class="nav-item mx-3">
              </div>
              <div>
                <i class="fas fa-edit" data-toggle="modal" data-target=".modal-trip" style="display: none"></i>
                <div class="modal fade bd-example-modal-lg modal-trip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <% trip_modal = TripMember.find_by(@current_user).trip_id %>
                        <h5 class="modal-title" id="edit-tripModalLabel"> <%= Trip.find(trip_modal).name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body edit d-flex">
                        <%= render "edit_trip/edit_trip_form", trip: trip%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </li>
              <li class="nav-item">
                <% if current_page?(trip_path(@trip)) %>
                  <button class="d-flex justify-content-center align-items-center active btn-sm btn-trip mr-1 nav-link-active"> <%= link_to "Explore", trip_path(@trip), class: "nav-link" %></button>
                <% else %>
                  <button class="d-flex justify-content-center align-items-center active btn-sm btn-trip mr-1 nav-link-inactive"> <%= link_to "Explore", trip_path(@trip), class: "nav-link" %></button>
                <% end %>
              </li>
          </div>
            <div class="d-flex trip-member-avatar-wrapper">
              <% TripMember.where(trip_id: @trip).each do |data| %>
                <div class="trip-member-avatar">
                  <%= image_tag "#{data.user.photo}", class: "avatar" %>
                  <div class="user-info-on-hover">
                    <%= "#{data.user.first_name.capitalize} #{data.user.last_name.capitalize}" %>
                  </div>
                </div>
              <% end %>
            </div>
            <li class="btn btn-primary btn-sm btn-add btn-add-sugg" style="border-radius: 0.5rem">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".modal-suggestion">New Suggestion</button>
              <div class="modal fade bd-example-modal-lg modal-suggestion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Suggest a new place to visit</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body d-flex">
                      <%= render "suggestions/form", suggestion: suggestion%>
                    </div>
                  </div>
                </div>
              </div>
            </li>
      <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/romainp72", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " data-toggle="modal" data-target=".modal-trip" href="#">Edit Trip</a>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <ul class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </ul>
        <ul class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </ul>
      <% end %>
    </ul>
  </div>
</div>

<% if @trip.nil? || @trip.name.nil? %>
<% else %>
  <div class="d-flex justify-content-center">
    <% if params[:controller] != 'pages' %>
      <% if (@trip.locked == true)  &&  params[:controller] == 'days' %>
      <div class="locked-bar text-center">
      <%= link_to trip_path(@trip) do %>
        <div style="font-weight: 300">Votes have been locked. <strong style="font-weight: 700">Click & Go to your roadmap </strong> <i class="fas fa-arrow-up"></i>. Explore and enjoy your trip ! <i class="far fa-smile-wink"></i></div>
      <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
