<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-2">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag("TeamTrip_logo.png", height:"47") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto align-items-center">

      <% if user_signed_in? %>
        <div class="d-flex centered-links">
          <div class="d-flex align-items-center">
            <div>
              <li class="nav-item">
                <% if current_page?(trip_days_path(Trip.first)) %>
                  <button class="d-flex justify-content-center align-items-center btn btn-outline-success active btn-sm btn-trip"> <%= image_tag("travel.png", width:"20rem", height:"20rem") %> <%= link_to Trip.first.name, trip_days_path(Trip.first), class: "nav-link" %></button>
                <% else %>
                  <button class="d-flex justify-content-center align-items-center btn btn-outline-success btn-sm btn-trip"> <%= image_tag("travel.png", width:"20rem", height:"20rem") %> <%= link_to Trip.first.name, trip_days_path(Trip.first), class: "nav-link" %></button>
                <% end %>
              </li>
              <li class="nav-item mx-3">
            </div>
            <div>
              <i class="fas fa-edit" data-toggle="modal" data-target=".modal-trip"></i>
              <div class="modal fade bd-example-modal-lg modal-trip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <% trip_modal = TripMember.find_by(@current_user).trip_id %>
                      <h5 class="modal-title" id="edit-tripModalLabel"> <%= Trip.find(trip_modal).name %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body d-flex">
                      <%= render "edit_trip/edit_trip_form", trip: trip%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </li>
          <li class="nav-item">
            <%= link_to "Road map", "#", class: "nav-link border", style:"border-radius: 0.5rem" %>
          </li>
        </div>
        <div class="d-flex trip-member-avatar-wrapper">
          <% TripMember.where(trip_id: @trip).each do |data| %>
            <div class="trip-member-avatar">
              <%= image_tag "#{data.user.photo}", class: "avatar" %>
              <div class="user-info-on-hover">
                <%= "#{data.user.first_name.capitalize} #{data.user.last_name.capitalize}" %>
              </div>
            </div>
          <% end %>
        </div>
        <li class="btn btn-primary btn-sm btn-add" style="border-radius: 0.5rem">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-suggestion">New suggestion</button>
            <div class="modal fade bd-example-modal-lg modal-suggestion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create your Suggestion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body d-flex">
                    <%= render "suggestions/form", suggestion: suggestion%>
                  </div>
                </div>
              </div>
            </div>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/romainp72", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>

    </ul>

  </div>
</div>
<div class="d-flex justify-content-center">
  <% if params[:controller] != 'pages' %>
    <% if (Trip.first.locked == true)  &&  params[:controller] == 'days' %>
    <div class="container locked-bar text-center">
      <h2>Votes have been locked, now enjoy your trip and relax!</h2>
    </div>
    <% end %>
  <% end %>
</div>
