<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container px-5">
    <h1>Organize your group trip easily</h1>
    <p>Find out what you can do and start planning!</p>
    <a  type="button" href="/trips/new" class="btn btn-primary btn-lg py-2 px-5 btn-banner"><strong>Start a trip now!</strong></a>
  </div>
</div>

<div class="container">
  <h2 class="d-flex justify-content-center mt-5"> <strong>What you can do with TeamTrip</strong></h2>
  <div class="d-flex justify-content-around pt-5">
    <div class="d-flex", style= "flex-direction: column">
      <%= image_tag("Brainstorming.svg", width:"250rem", height:"250rem") %>
      <h5 class="text-center">Create suggestions</h5>
    </div>
    <div class="d-flex", style= "flex-direction: column">
      <%= image_tag("Scrum Meeting.svg", width:"250rem", height:"250rem") %>
      <h5 class="text-center">Vote and decide together</h5>
    </div>
    <div class="d-flex", style= "flex-direction: column">
      <%= image_tag("Roadmapping.svg", width:"250rem", height:"250rem") %>
      <h5 class="text-center">Create your trip roadmap</h5>
    </div>
  </div>

  <h2 class="d-flex justify-content-center mt-5"> <strong>What they think of us</strong></h2>
  <div id="comments" class="cards-home mt-5 mb-5">
    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("Screen_Shot_2021-11-03_at_16.06.51_mxspba",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body-home">
        <p class="card-text name">Romain P.</p>
        <p class="card-text">It has never been that easy to organize a trip with a large group! I will definitivly use it again!</p>
      </div>
      <div>
      <%= image_tag("quotes.png", width:"55rem", height:"40rem", class:"img-comment") %>
      </div>
    </div>

    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("Screen_Shot_2021-11-03_at_16.06.51_mxspba",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body-home">
        <p class="card-text name">Vincent V.</p>
        <p class="card-text">We went to visit Porto with my family (we are 8) and we managed to please everyone thanks to Teamtrip!</p>
      </div>
      <div>
      <%= image_tag("quotes.png", width:"55rem", height:"40rem", class:"img-comment") %>
      </div>
    </div>

    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("Screen_Shot_2021-11-03_at_16.06.51_mxspba",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body-home">
        <p class="card-text name">Camille L.</p>
        <p class="card-text">Just awesome way to include everyone, children and adults without any arguments. Would 100% recommend!</p>
      </div>
      <div>
      <%= image_tag("quotes.png", width:"55rem", height:"40rem", class:"img-comment") %>
      </div>
    </div>
  </div>

</div>
