<div class="banner" style="">
  <div class="container px-5">
    <h1>Organize your group trip easily</h1>
    <p>Spend more time enjoying, less time organizing</p>
    <a  type="button" href="/trips/new" class="btn btn-primary btn-lg py-2 px-5 btn-banner"><strong>Start a trip now!</strong></a>
  </div>
</div>

<div class="container">
  <h1 class="d-flex justify-content-center mt-5 mb-5 title-home"> <strong>What you can do with TeamTrip</strong></h1>
  <div style="">
    <div class="background">
    </div>
    <div class="background-light">
    </div>
    <div class="d-flex justify-content-start pt-5 content">
      <%= image_tag("Create a suggestion.png", width:"80%", height:"350rem", class:"imageshome") %>
    </div>
      <div class="text-details vertical-align-center">
        <h1 class="text-center ml-5">Plan</h1>
        <p class="text-center ml-5">Let every trip member suggest its ideas and organize the perfect route for each day of the tour. Preview your trip directly on a map with all the spots selected..</p>
      </div>
  </div>

  <div style="">
    <div class="d-flex justify-content-end background-blue">
    </div>
    <div class="background-light-blue">
    </div>
    <div class="d-flex justify-content-end pt-5 content-blue">
      <%= image_tag("Vote.png", width:"80%", height:"350rem", class:"imageshome") %>
    </div>
      <div class="text-details-blue vertical-align-center">
        <h1 class="text-center ml-5">Vote</h1>
        <p class="text-center ml-5">Let every trip member suggest its ideas and organize the perfect route for each day of the tour. Preview your trip directly on a map with all the spots selected..</p>
      </div>
  </div>

  <div style="">
    <div class="d-flex justify-content-end background-saumon">
    </div>
    <div class="background-light-saumon">
    </div>
    <div class="d-flex justify-content-end pt-5 content-saumon">
      <%= image_tag("Roadmap.png", width:"97%", height:"350rem", class:"imageshome") %>
    </div>
      <div class="text-details-saumon vertical-align-center">
        <h1 class="text-center ml-5">Explore</h1>
        <p class="text-center ml-5">Discover the most popular suggestions which will give you the perfect trip to enjoy.
        Organize each step on each day according to your feeling of the moment.</p>
      </div>
  </div>

  <!--
  <h1 class="d-flex justify-content-center mt-5 title-home"> <strong>What they think of us</strong></h1>
  <div id="comments" class="cards-home mt-5 mb-5">
    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("Screen_Shot_2021-11-03_at_16.06.51_mxspba",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body-home">
        <p class="card-text name">Romain P.</p>
        <p class="card-text">It has never been that easy to organize a trip with a large group! I will definitivly use it again!</p>
      </div>
      <div>
      <%= image_tag("quotes.png", width:"55rem", height:"40rem", class:"img-comment") %>
      </div>
    </div>

    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("Screen_Shot_2021-11-03_at_16.06.51_mxspba",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body-home">
        <p class="card-text name">Vincent V.</p>
        <p class="card-text">We went to visit Porto with my family (we are 8) and we managed to please everyone thanks to Teamtrip!</p>
      </div>
      <div>
      <%= image_tag("quotes.png", width:"55rem", height:"40rem", class:"img-comment") %>
      </div>
    </div>

    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("Screen_Shot_2021-11-03_at_16.06.51_mxspba",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body-home">
        <p class="card-text name">Camille L.</p>
        <p class="card-text">Just awesome way to include everyone, children and adults without any arguments. Would 100% recommend!</p>
      </div>
      <div>
      <%= image_tag("quotes.png", width:"55rem", height:"40rem", class:"img-comment") %>
      </div>
    </div>
  </div>
  -->

</div>
