<div id="item-card-show" class="single-card unvoted m-3 bg-light position-relative" style="width: 27vw"> <!-- Item-card-show // ID not defined -->
  <div>
  <%= image_tag(data.user.photo, class:"avatar-large avatar-large-bordered position-absolute", style:"margin: -15px; z-index: 1") %>
  </div>
  <!-- BEGGINING UNVOTING BOUTON-->
  <%= link_to votes_path(suggestion_id: data.id, trip_id: params[:trip_id], day_id:params[:id]), method: :post do %>
    <div class="position-relative">
      <%= image_tag(data.photo, class:"img-card-show") %>
      <i class="far fa-thumbs-up fa-5x unvoted-thumb position-absolute" style="top: 30%; right: 35%"></i>
      <div class="vote-pill unvoted-pill light-gray position-absolute d-flex flex-column justify-content-center align-items-center" style="top: 6%; right: 4%">
        <i class="far fa-thumbs-up fa-lg"></i>
        <h2 class="pl-1"><%= data.votes.count %></h2>
      </div>
    </div>
  <% end %>
  <!-- ENDING UNVOTING BOUTON-->
  <div class="details p-3">
    <div class="d-flex justify-content-between">
      <div class="text-container align-self-center m-1 ">
        <h2><%= data.name %></h2>
      </div>
      <div class="text-container price align-self-center m-1 ">
        <h2><%= data.price.to_i %>€</h2>
      </div>
    </div>
    <div class="d-flex">
      <div class="text-container align-self-center m-1" style="color: #FBBC04">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
      </div>
      <div class="text-container align-self-center m-1 ">
        <p style="margin: 0"><%= data.rating %></p>
        <%# <i class="far fa-thumbs-up"></i><%= data.rating SOMEWHERE ON MAPS %>
      </div>
    </div>
    <!--
    <div class="text-container align-self-center m-1 ">
      <%# <u>Description</u>.<%= data.description %>
      <p style="font-size: ">
      Set in an alleyway, this colorful and relaxed hotel is a 13 minutes walk...
      </p>
    </div>
    -->
    <div class="text-container align-self-center m-1 pt-2">
      <%# <u>Seel all link (google url)</u>.<%= data.google_link %>
      <a href="https://www.google.com/maps/place/Eurostars+Das+Artes/@41.1500524,-8.620851,15z/data=!4m8!3m7!1s0x0:0x2254bd890e121461!5m2!4m1!1i2!8m2!3d41.1500524!4d-8.620851" target="_blank">See on Google maps</a>
    </div>
    <hr class="dark-blue">
    <div>
      <div class="text-container m-1 ">
        <p style="margin: 0"><%= "#{data.user.first_name.capitalize + " " + data.user.last_name.capitalize}" %></p>
      </div>
      <div class="text-container m-1 ">
        <% if data.comment.length == 0 %>
          <p style="margin: 0"><em>There is no comment</em></p>
        <% else %>
          <p style="margin: 0"> <%= data.comment %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
