<div id="item-card-show" class="single-card unvoted m-3 bg-light position-relative" style="width: 27vw"> <!-- Item-card-show // ID not defined -->
  <!-- BEGGINING UNVOTING BOUTON-->
  <%= link_to votes_path(suggestion_id: data.id, trip_id: params[:trip_id], day_id:params[:id]), method: :post do %>
    <div class="d-flex justify-content-center align-items-center">
      <%= image_tag(data.photo, class:"img-card-show") %>
      <i class="far fa-thumbs-up fa-5x unvoted-thumb position-absolute"></i>
      <div class="vote-pill unvoted-pill light-gray position-absolute d-flex flex-column justify-content-center align-items-center" style="top: 6%; right: 4%">
        <i class="far fa-thumbs-up fa-lg"></i>
        <h2 class="pl-1"><%= data.votes.count %></h2>
      </div>
    </div>
  <% end %>
  <!-- ENDING UNVOTING BOUTON-->
  <div class="details p-3">
    <div class="d-flex justify-content-between">
      <div class="text-container align-self-center m-1 suggestion-name-show">
        <h2><%= data.name %></h2>
      </div>
      <div class="text-container price align-self-center m-1 ">
        <% if data.price.zero? && data.category == "Activity" %>
          <h2>Free</h2>
        <% else %>
          <h2><%= data.price.to_i %>€</h2>
        <% end %>
      </div>
    </div>
    <div class="d-flex">
      <div class="text-container align-self-center m-1" style="color: #FBBC04">
        <i class="fas fa-star"></i>
      </div>
      <div class="text-container align-self-center m-1 ">
        <p style="margin: 0; font-weight: 700"><%= data.rating %></p>
        <%# <i class="far fa-thumbs-up"></i><%= data.rating SOMEWHERE ON MAPS %>
      </div>
    </div>
    <!--
    <div class="text-container align-self-center m-1 ">
      <%# <u>Description</u>.<%= data.description %>
      <p style="font-size: ">
      Set in an alleyway, this colorful and relaxed hotel is a 13 minutes walk...
      </p>
    </div>
    -->
    <div class="text-container align-self-center m-1 pt-2">
      <%# <u>Seel all link (google url)</u>.<%= data.google_link %>
      <a href="<%= data.google_link %>" target="_blank">See on Google maps</a>
    </div>
    <hr class="dark-blue">
    <div class="align-items-center">
      <div>
      <%= image_tag(data.user.photo, class:"avatar avatar-bordered position-absolute") %>
      </div>
      <div class="text-container align-items-center ">
        <% if data.comment.length == 0 %>
          <p style="margin-left: 3rem"><em>There is no comment</em></p>
        <% else %>
          <p style="margin-left: 3rem"> <%= data.comment.capitalize %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
