<div id="item-card-show" class="single-card m-3 bg-light" style="width: 25vw"> <!-- Item-card-show // ID not defined -->
  <!-- BEGGENING UNVOTING BOUTON-->
  <% vote_id = Vote.find_by(suggestion_id: data.id, user_id: current_user.id).id %>
  <%= link_to vote_path(id: vote_id, trip_id: params[:trip_id], day_id:params[:id]), method: :delete do %>
    <div class="position-relative">
      <%= image_tag("resto_1.jpg", class:"img-card-show") %>
      <div class="vote-pill dark-green position-absolute d-flex" style="top: 6%; right: 4%">
        <i class="fas fa-thumbs-up"></i><p class="pl-1"><%= data.votes.count %></p>
      </div>
    </div>
  <% end %>
  <div class="p-3">
    <div class="d-flex justify-content-between">
      <div class="text-container align-self-center m-1 ">
        <h6><%= data.name %></h6>
      </div>
      <div class="text-container align-self-center m-1 ">
        <h6><%= data.price %>€</h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="text-container align-self-center m-1" style="color: #FBBC04">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
      </div>
      <div class="text-container align-self-center m-1 ">
        <p style="margin: 0">4.8</p>
        <%# <i class="far fa-thumbs-up"></i><%= data.rating SOMEWHERE ON MAPS %>
      </div>
    </div>
    <div class="text-container align-self-center m-1 ">
      <%# <u>Description</u>.<%= data.description %>
      <p style="font-size: ">
      Set in an alleyway, this colorful and relaxed hotel is a 13 minutes walk...
      </p>
    </div>
    <div class="text-container align-self-center m-1 ">
      <%# <u>Seel all link (google url)</u>.<%= data.google_link %>
      <a href="https://www.google.com/maps/place/Eurostars+Das+Artes/@41.1500524,-8.620851,15z/data=!4m8!3m7!1s0x0:0x2254bd890e121461!5m2!4m1!1i2!8m2!3d41.1500524!4d-8.620851" target="_blank" class="a-restaurant">See on Google maps</a>
    </div>
    <hr class="dark-saumon">
    <div class="d-flex flex-column justify-content-center" style="height: 6rem">
      <div class="text-container m-1 ">
        <p style="margin: 0"><%= "#{data.user.first_name.capitalize + " " + data.user.last_name.capitalize}" %></p>
      </div>
      <div class="text-container m-1 ">
        <p style="margin: 0"> <%= data.comment %></p>
      </div>
    </div>
  </div>
</div>
