<div class="d-flex">
  <div class="w-50">
    <div id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
  <div class="w-50">
    <div class="text-center border border-5 border-dark ">Calendrier</div>
    <!-- BEGGENING OF ACTIVITY SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->

          <%= link_to "+", new_suggestion_path, class:"add-suggestion-green" %>

          <div> Activities :</div>

          <%= link_to "See all", trip_day_path(@trip, @day), class:"button-see-show" %><!-- Category-button// ID not defined -->
        </div>
        <div class="list-group">
          <% @trip_days.first.suggestions.where(category: "Activity").first(3).each do |activity| %>
            <!-- BEGGENING OF ACTIVITY ITEM CARD -->
            <div id="color-activities" class="item-card item-card-wrapper d-flex justify-content-between"> <!-- Item-card // ID not defined -->
              <div class="image-container">
                <%= activity.photo %>
              </div>
              <div class="text-container align-self-center">
                <div class="dark-blue" ><%= activity.name %></div>
                <%= activity.location %>
              </div>
              <div class="info-container ">
                <div class="price-container align-self-center">
                  <div class="dark-blue"><%= activity.price %>€ </div>
                </div>
                <div class="vote-container align-self-center">
                  <i class="far fa-thumbs-up"></i><%= activity.votes.count %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- ENDING OF ACTIVITY ITEM CARD -->
        </div>
      </div>
      <!-- ENDING OF ACTIVITY SECTION -->
      <!-- BEGGENING OF ACTIVITY SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <%= link_to "+", new_suggestion_path, class:"add-suggestion-saumon" %>
          <div> Restaurants :</div>
          <a id="category-button" href="#" class="link-primary"> See all </a> <!-- Category-button// ID not defined -->
        </div>
        <div class="list-group">
          <% @trip_days.first.suggestions.where(category: "Restaurant").first(2).each do |restaurant| %>
            <!-- BEGGENING OF RESTAURANT ITEM CARD -->
            <div id="color-restaurants" class="item-card item-card-wrapper d-flex justify-content-between"> <!-- Item-card // ID not defined -->
              <div class="image-container align-self-center">
                Photo placeholder
              </div>
              <div class="text-container align-self-center">
                <%= restaurant.name %>
                <%= restaurant.location %>
              </div>
              <div class="info-container">
                <div class="price-container align-self-center">
                  <%= restaurant.price %>€
                </div>
                <div class="vote-container align-self-center">
                  <i class="far fa-thumbs-up"></i><%= restaurant.votes.count %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- ENDING OF RESTAURANT ITEM CARD -->
        </div>
      </div>
      <!-- ENDING OF RESTAURANT SECTION -->
      <!-- BEGGENING OF HOTEL SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <%= link_to "+", new_suggestion_path, class:"add-suggestion-blue" %>
          <div> Hotels :</div>
          <a id="category-button" href="#" class="link-primary"> See all </a> <!-- Category-button// ID not defined -->
        </div>
        <div class="list-group">
          <% @trip_days.first.suggestions.where(category: "Hotel").each do |hotel| %>
            <!-- BEGGENING OF HOTEL ITEM CARD -->
            <div id="color-hotel" class="item-card item-card-wrapper d-flex justify-content-around"> <!-- Item-card // ID not defined -->
              <div class="image-container align-self-center">
                Photo placeholder
              </div>
              <div class="text-container align-self-center">
                <%= hotel.name %>
                <%= hotel.location %>
              </div>
              <div class="info-container ">
                <div class="price-container align-self-center ">
                  <%= hotel.price %>€
                </div>
                <div class="vote-container align-self-center">
                  <i class="far fa-thumbs-up"></i><%= hotel.votes.count %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- ENDING OF HOTEL ITEM CARD -->
        </div>
      </div>
      <!-- ENDING OF HOTEL SECTION -->
  </div>
</div>
