<div class="d-flex body-index">
  <div class="w-50">
    <div id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
  <div class="w-50">
    <!-- DATE SELECTOR -->
    <div class="day selector">
    <%= form_tag trip_days_path, method: :get, data: { controller: "day" } do %>
        <%= date_field_tag :date,
          params[:date],
          class: "form-control",
          data: {
            action: "change->day#handleChange"
          }
        %>
        <% end  %>
    </div>
    <!-- BEGGENING OF HOTEL SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <div class="d-flex align-items-center">
          <!-- button to add new suggestion -->
            <button type="button" class="btn btn-sm rounded-pill align-middle " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus-circle btn-blue"></i></button>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">+</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="category-title">
              <h1 class="align-bottom">Hotels</h1>
            </div>
          </div>
          <h2><%= link_to "See all", trip_day_path(@trip, @day), class:"button-see-show" %> </h2><!-- Category-button// ID not defined -->
        </div>
        <div class="list-group">
          <% @trip_days.first.suggestions.where(category: "Hotel").each do |hotel| %>
            <!-- BEGGENING OF HOTEL ITEM CARD -->
            <div id="color-hotel" class="item-card item-card-wrapper d-flex justify-content-between"> <!-- Item-card // ID not defined -->
              <div class="d-flex">
                <div class="image-container">
                  <%= image_tag "hotel_1.jpg", class:"image-card" %>
                </div>
                <div class="text-container align-items-start">
                  <%= hotel.name %>
                  <%= hotel.location %>
                </div>
              </div>
              <div class="info-container ">
                <div class="price-container align-self-center ">
                  <h2><%= hotel.price.to_i %>€</h2>
                </div>
                <div class="vote-container align-self-center">
                  <i class="far fa-thumbs-up"></i><%= hotel.votes.count %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- ENDING OF HOTEL ITEM CARD -->
        </div>
        <!-- ENDING OF HOTEL SECTION -->
      </div>
      <!-- BEGGENING OF RESTAURANT SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <div class="d-flex">
          <!-- button to add new suggestion -->
          <button type="button" class="btn btn-sm rounded-pill align-middle " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus-circle btn-saumon"></i></button>

              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">+</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            <h1 class="category-title"> Restaurants</h1>
          </div>
          <h2><%= link_to "See all", trip_day_path(@trip, @day), class:"button-see-show" %></h2> <!-- Category-button// ID not defined -->
        </div>
        <div class="list-group">
          <% @trip_days.first.suggestions.where(category: "Restaurant").first(2).each do |restaurant| %>
            <!-- BEGGENING OF RESTAURANT ITEM CARD -->
            <div id="color-restaurants" class="item-card item-card-wrapper d-flex justify-content-between"> <!-- Item-card // ID not defined -->
              <div class="d-flex">
                <div class="image-container">
                  <%= image_tag "resto_1.jpg", class:"image-card" %>
                </div>
                <div class="text-container align-items-start">
                  <h2><%= restaurant.name %></h2>
                  <%= restaurant.location %>
                </div>
              </div>
              <div class="info-container">
                <div class="price-container align-self-center">
                  <h2><%= restaurant.price.to_i %>€ </h2>
                </div>
                <div class="vote-container align-self-center">
                  <i class="far fa-thumbs-up"></i><%= restaurant.votes.count %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- ENDING OF RESTAURANT ITEM CARD -->
        </div>
      </div>
      <!-- ENDING OF RESTAURANT SECTION -->
    <!-- BEGGENING OF ACTIVITY SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <div class="d-flex">
          <!-- button to add new suggestion -->
            <button type="button" class="btn btn-sm rounded-pill align-middle" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus-circle btn-green"></i></button>

              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">+</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <h1 class="category-title"> Activities</h1>
          </div>
          <h2><%= link_to "See all", trip_day_path(@trip, @day), class:"button-see-show" %></h2><!-- Category-button// ID not defined -->
        </div>
        <div class="list-group">
          <% @trip_days.first.suggestions.where(category: "Activity").first(3).each do |activity| %>
            <!-- BEGGENING OF ACTIVITY ITEM CARD -->
            <div id="color-activities" class="item-card d-flex justify-content-between"> <!-- Item-card // ID not defined -->
              <div class="d-flex">
                <div class="image-container">
                  <%# <%= activity.photo %>
                  <%= image_tag "activity_1.jpg", class:"image-card" %>
                </div>
                <div class="text-container align-items-start">
                  <h2><%= activity.name %></h2>
                  <h3> <%= activity.location %> 4 boulevard Charpentier, 44000 Nantes</h3>
                </div>
              </div>
              <div class="info-container ">
                <div class="price-container align-self-center">
                  <% if activity.price.zero? %>
                    <h2>Free</h2>
                  <% else %>
                    <h2><%= activity.price.to_i %>€</h2>
                  <% end %>
                </div>
                <div class="vote-container align-self-center">
                  <i class="far fa-thumbs-up"></i><%= activity.votes.count %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- ENDING OF RESTAURANT SECTION -->
  </div>
</div>
