<div class="d-flex body-index" data-controller="highlight">
  <div class="w-50">
    <div id="map" class='map-marker'
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
  <div class="w-50" id="right-panel">
    <!-- DATE SELECTOR -->
    <div class="calendar-container">
      <div class="calendar-wrapper-days d-flex" style="margin-left: auto; margin-right: auto">
        <% @calendar_days.each do |data| %>
          <div class="d-flex align-items-center justify-content-center" style="width: 60px; height: 40px">
            <div class="text-center align-self-center m-1 p-1">
              <%=  data.date.strftime("%a")%>
            </div>
          </div>
        <% end %>
      </div>
      <div class="calendar-wrapper-links d-flex" style="margin-left: auto; margin-right: auto">
        <% @calendar_days.each do |data| %>
          <%= link_to trip_days_path(date: data.date), class:"m-0 p-0 d-flex", style:"text-decoration: none" do %>
            <% params[:date] = @trip.days.first.date.to_s.last(2) if params[:date].nil? %>
            <div class="day-badge <%= "active" if data.date.strftime("%d") == params[:date].last(2) %>" style="width: 60px; height: 40px">
              <div>
                <%=  data.date.strftime("%e")%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <h1 class= "text-center" style="width:30vw;">Top voted suggestions</h1>
    </div>
    <!-- BEGINNING OF HOTEL SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <% if @best_hotels.empty? %>
          <%= render 'days/first_sug_hotel' %>
        <% else %>
          <div id="category-card-top" class="d-flex justify-content-between card-top"> <!-- Category-card-top// ID not defined -->
            <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
            <div class="d-flex">
              <div>
                <%= image_tag('Hotel_ROUND.png', style:"width:25px; height:25px; margin-top:4px; margin-right:8px; margin-left:4px;") %>
              </div>
              <div class="category-title">
                <h1 class="align-bottom">Hotels</h1>
                <p class="align-bottom" style="margin-bottom:0; color:gray; font-size:12px; font-weight:300;">Top voted hotel out of <%= @hotels_ordered_by_vote.length%></p>
              </div>
            </div>
            <% @day = Day.find_by(date: @selected_date) %>
            <h2><%= link_to "Go vote", trip_day_path(@trip, @day, {category: "Hotel"}), class:"button-see-show" %> </h2><!-- Category-button// ID not defined -->
          </div>
          <div class="list-group" id="nav-hotel">
            <% @hotels_ordered_by_vote.first(1).each do |data| %>
            <!-- BEGINNING OF HOTEL ITEM CARD -->
                <%= render 'days/card_index', data: data %>
            <!-- ENDING OF HOTEL ITEM CARD -->
            <% end %>
          </div>
        <% end %>
      </div>
    <!-- ENDING OF HOTEL SECTION -->
    <!-- BEGINNING OF RESTAURANT SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <% if @best_restaurants.empty? %>
          <%= render 'days/first_sug_restau' %>
        <% else %>
          <div id="category-card-top" class="d-flex justify-content-between card-top"> <!-- Category-card-top// ID not defined -->
            <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
            <div class="d-flex">
            <!-- button to add new suggestion -->

              <div>
                <%= image_tag('Restau_ROUND.png', style:"width:25px; height:25px; margin-top:4px; margin-right:8px; margin-left:4px;") %>
              </div>

              <div class="category-title">
                <h1> Restaurants</h1>
                <p class="align-bottom" style="margin-bottom:0; color:gray; font-size:12px; font-weight:300;">Top voted <%= pluralize(@restaurants_ordered_by_vote.first(2).length, 'restaurant') %> out of <%= @restaurants_ordered_by_vote.length%></p>
              </div>

            </div>
            <h2><%= link_to "Go vote", trip_day_path(@trip, @day, {category: "Restaurant"}), class:"button-see-show" %></h2> <!-- Category-button// ID not defined -->
          </div>
          <div class="list-group" id="nav-restaurant">
            <% @restaurants_ordered_by_vote.first(2).each do |data| %>
            <!-- BEGINNING OF RESTAURANT ITEM CARD -->
              <%= render 'days/card_index', data: data %>
            <% end %>
            <!-- ENDING OF RESTAURANT ITEM CARD -->
          </div>
        <% end %>
      </div>
    <!-- ENDING OF RESTAURANT SECTION -->
    <!-- BEGENNING OF ACTIVITY SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <% if @best_activities.empty? %>
          <%= render 'days/first_sug_activity' %>
        <% else %>
          <div id="category-card-top" class="d-flex justify-content-between card-top"> <!-- Category-card-top// ID not defined -->
            <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
            <!-- button to add new suggestion -->
            <div class="d-flex">
              <div>
                <%= image_tag('Activity_ROUND.png', class:"align-top", style:"width:25px; height:25px; margin-top:4px; margin-right:8px; margin-left:4px;") %>
              </div>
              <div class="d-flex align-items-center">
                <div class="category-title">
                  <h1> Activities</h1>
                  <p class="align-bottom" style="margin-bottom:0; color:gray; font-size:12px; font-weight:300;">Top voted <%= pluralize(@activities_ordered_by_vote.first(3).length, 'activity') %> out of <%= @activities_ordered_by_vote.length%></p>
                </div>
              </div>
            </div>
            <h2><%= link_to "Go vote", trip_day_path(@trip, @day, {category: "Activity"}), class:"button-see-show" %></h2><!-- Category-button// ID not defined -->
          </div>
          <div class="list-group" id="nav-activity">
            <% @activities_ordered_by_vote.first(3).each do |data| %>
              <!-- BEGINNING OF ACTIVITY ITEM CARD -->
              <%= render 'days/card_index', data: data %>
            <% end %>
          </div>
        <% end %>
      </div>
    <!-- ENDING OF ACTIVITY SECTION -->
  </div>
</div>
