<div class="d-flex body-index" data-controller="highlight">
  <div class="w-50">
    <div id="map" class='map-marker'
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
  <div class="w-50" id="right-panel">
    <!-- DATE SELECTOR -->
    <div class="d-flex day-selector justify-content-center">
      <%= form_tag trip_days_path, method: :get, data: { controller: "day" } do %>
        <%= date_field_tag :date,

          value=@selected_date,
          class: "form-control",
          data: {
            action: "change->day#handleChange"
          }
        %>
      <% end  %>
    </div>
    <!-- BEGINNING OF HOTEL SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between card-top"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <div class="d-flex align-items-center">
            <!-- button to add new suggestion -->
            <button type="button" class="btn btn-sm rounded-pill align-middle " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus-circle fa-lg btn-blue"></i></button>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">+</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="category-title">
              <h1 class="align-bottom">Hotels</h1>
            </div>
          </div>
          <% @day = Day.find_by(date: @selected_date) %>
          <h2><%= link_to "See all", trip_day_path(@trip, @day, {category: "Hotel"}), class:"button-see-show" %> </h2><!-- Category-button// ID not defined -->
        </div>
        <div class="list-group" id="nav-hotel">
          <% @hotels_ordered_by_vote.first(1).each do |data| %>
          <!-- BEGINNING OF HOTEL ITEM CARD -->
            <% if data.nil? %>
              <%= render 'days/first_sug_card', data: data %>
            <% else %>
              <%= render 'days/unvoted_card_index', data: data %>
            <% end %>
          <!-- ENDING OF HOTEL ITEM CARD -->
          <% end %>
        </div>
      </div>
    <!-- ENDING OF HOTEL SECTION -->
    <!-- BEGINNING OF RESTAURANT SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between card-top"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <div class="d-flex align-items-center">
          <!-- button to add new suggestion -->
          <button type="button" class="btn btn-sm rounded-pill align-middle " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus-circle fa-lg btn-saumon"></i></button>

              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">+</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            <div class="category-title">
              <h1> Restaurants</h1>
            </div>
          </div>
          <h2><%= link_to "See all", trip_day_path(@trip, @day, {category: "Restaurant"}), class:"button-see-show" %></h2> <!-- Category-button// ID not defined -->
        </div>
        <div class="list-group" id="nav-restaurant">
          <% @restaurants_ordered_by_vote.first(2).each do |data| %>
          <!-- BEGINNING OF RESTAURANT ITEM CARD -->
            <%= render 'days/unvoted_card_index', data: data %>
          <% end %>
          <!-- ENDING OF RESTAURANT ITEM CARD -->
        </div>
      </div>
    <!-- ENDING OF RESTAURANT SECTION -->
    <!-- BEGENNING OF ACTIVITY SECTION -->
      <div class="category-card"> <!-- Category-card // ID not defined -->
        <div id="category-card-top" class="d-flex justify-content-between card-top"> <!-- Category-card-top// ID not defined -->
          <!-- Add type of suggestion PRE-DEFINI on new_suggestion page -->
          <div class="d-flex align-items-center">
          <!-- button to add new suggestion -->
            <button type="button" class="btn btn-sm rounded-pill align-middle" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus-circle fa-lg btn-green"></i></button>

              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">+</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="category-title">
                <h1> Activities</h1>
              </div>
          </div>
          <h2><%= link_to "See all", trip_day_path(@trip, @day, {category: "Activity"}), class:"button-see-show" %></h2><!-- Category-button// ID not defined -->
        </div>
        <div class="list-group" id="nav-activity">
          <% @activities_ordered_by_vote.first(3).each do |data| %>
            <!-- BEGINNING OF ACTIVITY ITEM CARD -->
            <%= render 'days/unvoted_card_index', data: data %>
          <% end %>
        </div>
      </div>
    <!-- ENDING OF ACTIVITY SECTION -->
  </div>
</div>
