<!-- BEGGENING OF CALENDAR -->
<div class="d-flex justify-content-center align-items-center">
  <div>CALENDAR</div>
</div>
<!-- ENDING OF CALENDAR -->

<!-- BEGGENING OF TAB MENU -->
<div class="d-flex ml-5">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Hotel</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Restaurant</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Activity</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active text-danger" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">?? Hotel tab rendered ??</div>
    <div class="tab-pane fade text-danger" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">?? Restaurant tab rendered ??</div>
    <div class="tab-pane fade text-danger" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">?? Activity tab rendered ??</div>
  </div>
</div>
<!-- ENDING OF TAB MENU -->

<!-- BEGGENING OF ACTIVITY TAB SECTION -->
<div id="card-section-container-show" class="d-flex bg-secondary justify-content-center pr-5 pl-5"><!-- card-section-container-show // ID not defined -->
  <!-- BEGGENING OF ACTIVITY ITEM CARD -->
  <% @trip_days.first.suggestions.where(category: "Activity").all.each do |activity| %>
    <div id="item-card-show" class="show-card border border-dark m-3 p-3 rounded bg-light" style="width: 25vw"> <!-- Item-card-show // ID not defined -->
      <div class="position-relative border border-dark m-1" style="height: 20vh">
        <!-- CLICK ON THE PICTURE TO VOTE FROM HERE -->
        <u>Photo</u>.<%= activity.photo %>
        <%# image_tag() %>
        <div class="vote-pill dark-green position-absolute" style="top: 3%; right: 2%">
          <p>Vote</p>
        </div>
        <!-- TO HERE -->
      </div>
      <div class="d-flex justify-content-between">
        <div class="text-container align-self-center border border-dark m-1 ">
          <u>Name</u>.<%= activity.name %>
        </div>
        <div class="text-container align-self-center border border-dark m-1 ">
          <u>Price</u>.<%= activity.price %>
        </div>
      </div>
      <div class="d-flex">
        <div class="text-container align-self-center border border-dark m-1 ">
          <u>rating</u>.<%= activity.rating %>
        </div>
        <div class="text-container align-self-center border border-dark m-1 ">
          <u>vote</u>.<i class="far fa-thumbs-up"></i><%= activity.votes.count %>
        </div>
      </div>
      <div class="text-container align-self-center border border-dark m-1 ">
        <u>Description</u>.<%= activity.description %>
      </div>
      <div class="text-container align-self-center border border-dark m-1 ">
        <u>Seel all link (google url)</u>.<%= activity.google_link %>
      </div>
      <div class="divider border border-dark mt-3 mb-3 ">
      </div>
      <div class="d-flex flex-column justify-content-center bg-warning" style="height: 20vh">
        <div class="text-container border border-dark m-1 ">
          <u>User</u>. <%= "#{activity.user.first_name.capitalize + " " + activity.user.last_name.capitalize}" %>
        </div>
        <div class="text-container border border-dark m-1 ">
          <u>Comment</u>.<%= activity.comment %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- ENDING OF ACTIVITY ITEM CARD -->
</div>
<!-- ENDING OF ACTIVITY TAB SECTION -->
