<!-- BEGINNING OF CALENDAR -->
<div class="d-flex justify-content-around m-1 p-2">
  <div class="d-flex justify-content-between align-items-center w-50 mt-1 pb-2">
    <div class="side-day-container text-left">
      <% if @previous_date %>
        <i class="fas fa-arrow-circle-left day-arrow"></i><%= link_to "#{(@day.date - 1.day).strftime("%a %e, %B")}", trip_day_path(trip_id: @trip, id: @day.id - 1, date: @previous_date), class:"js-selector-days side-day ml-3" %>
      <% end %>
    </div>
    <div class="middle-container text-center">
      <p class="weekday mb-1"> <%= @day.date.strftime("%A") %> </p>
      <h1 class="current-date"> <%= @day.date.strftime("%B %e") %> </h1>
    </div>
    <div class="side-day-container text-right">
      <% if @next_date %>
        <%= link_to "#{(@day.date + 1.day).strftime("%a %e, %B")}", trip_day_path(trip_id: @trip, id: @day.id + 1, date: @next_date), class:"js-selector-days side-day mr-3" %><i class="fas fa-arrow-circle-right day-arrow"></i></div>
      <% end %>
    </div>
  </div>
</div>
<!-- ENDING OF CALENDAR -->
<!-- ########################################## -->
<!-- BEGINNING OF MENU TAB SECTION -->
<nav class="container">
  <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
    <a class="js-selector nav-link flex-grow-1 text-center font-weight-bold <%= "active" if params[:category] == "Hotel" || params[:category].blank? %>" id="nav-hotel-tab" data-toggle="tab" href="#nav-hotel" role="tab" aria-controls="nav-hotel" aria-selected="true">Hotel</a>
    <a class="js-selector nav-link flex-grow-1 text-center font-weight-bold <%= "active" if params[:category] == "Restaurant" %>" id="nav-restaurant-tab" data-toggle="tab" href="#nav-restaurant" role="tab" aria-controls="nav-restaurant" aria-selected="false">Restaurant</a>
    <a class="js-selector nav-link flex-grow-1 text-center font-weight-bold <%= "active" if params[:category] == "Activity" %>" id="nav-activity-tab" data-toggle="tab" href="#nav-activity" role="tab" aria-controls="nav-activity" aria-selected="false">Activity</a>
  </div>
</nav>
<!-- ENDING OF MENU TAB SECTION -->
<!-- ########################################## -->
<!-- BEGINNING OF TAB SECTION -->

<div class="tab-content show-card" id="nav-tabContent" style="min-height: 65vh">
  <div class="tab-pane fade show <%= "active" if params[:category] == "Hotel" || params[:category].blank? %>" id="nav-hotel" role="tabpanel" aria-labelledby="nav-hotel-tab">
    <!-- BEGENING OF HOTEL TAB SECTION -->
    <div id="card-section-container-show" class="cards background-hotel pr-5 pl-5"><!-- card-section-container-show // ID not defined -->
      <!-- BEGENING OF HOTEL ITEM CARD -->
      <% @hotels_ordered_by_vote.each do |data| %>
        <% if Vote.find_by(suggestion_id: data.id, user_id: current_user.id).nil? %>
          <%= render 'days/unvoted_card', data: data %><!-- Le vote n'existe pas -->
        <% else %>
          <%= render 'days/voted_card', data: data %><!-- Le vote existe -->
        <% end %>
      <% end %>
      <!-- ENDING OF HOTEL ITEM CARD -->
    </div>
    <!-- ENDING OF HOTEL TAB SECTION -->
  </div>

  <div class="tab-pane fade show <%= "active" if params[:category] == "Restaurant" %>" id="nav-restaurant" role="tabpanel" aria-labelledby="nav-restaurant-tab">
    <!-- BEGINNING OF RESTAURANT TAB SECTION -->
    <div id="card-section-container-show" class="cards background-restaurant pr-5 pl-5"><!-- card-section-container-show // ID not defined -->
      <!-- BEGGENING OF RESTAURANT ITEM CARD -->
      <% @restaurants_ordered_by_vote.each do |data| %>
        <% if Vote.find_by(suggestion_id: data.id, user_id:current_user.id).nil? %>
          <%= render 'days/unvoted_card', data: data %>
        <% else %>
          <%= render 'days/voted_card', data: data %>
        <% end %>
      <% end %>
      <!-- ENDING OF RESTAURANT ITEM CARD -->
    </div>
    <!-- ENDING OF RESTAURANT TAB SECTION -->
  </div>

  <div class="tab-pane fade show <%= "active" if params[:category] == "Activity" %>" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
    <!-- BEGGENING OF ACTIVITY TAB SECTION -->
    <div id="card-section-container-show" class="cards background-activity pr-5 pl-5"><!-- card-section-container-show // ID not defined -->
      <!-- BEGGENING OF ACTIVITY ITEM CARD -->
      <% @activities_ordered_by_vote.each do |data| %>
        <% if Vote.find_by(suggestion_id: data.id, user_id:current_user.id).nil? %>
          <%= render 'days/unvoted_card', data: data %>
        <% else %>
          <%= render 'days/voted_card', data: data %>
        <% end %>
      <% end %>
    <!-- ENDING OF ACTIVITY ITEM CARD -->
    </div>
    <!-- ENDING OF ACTIVITY TAB SECTION -->
  </div>
</div>
<!-- ENDING OF TAB SECTION -->
