<div class="container suggestion-form justify-content-center" data-controller="places">
  <%= simple_form_for(Suggestion.new) do |f| %>
    <%= f.input :name, input_html: {"data-places-target": "field"}, :placeholder => 'Select name with Google Places' %>
    <%= f.input :category,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector'},
      collection: Suggestion::CATEGORIES,
      wrapper: :vertical_collection_inline %>
    <%= f.input :price, as: :text, class: 'price-input', placeholder: "here..."%>
    <%= f.input :comment, as: :text, :placeholder => 'This place is awesome because...'%>
    <%= f.association :day,
      collection: Day.all,
      label_method: :date,
      value_method: :id,
      selected: @day&.id  %>
    <%= f.button :submit, class: "btn-primary stripes" %>
  <% end %>
</div>
