<!DOCTYPE html>
<html>
  <head>
    <title>Teamtrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'data-turbolinks-track': 'reload', defer: true %>
    <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('TeamTrip_fav.png') %>
    <%# <%= javascript_include_tag "application" %>

    <%# autocomplete script %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>&libraries=places"></script>
  </head>

  <body>
    <%= render 'shared/navbar', suggestion: @suggestion %>
    <%= render 'shared/flashes' %>


    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
